.winCalendar{
  border: 4px red solid;
  min-height: 50vh;
  padding-bottom: 10vh;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 1050px) {
  .serviceGrid {
    border: 1px goldenrod solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  h3 {
    border: 1px red solid;
    font-size: large;
  }

  .serviceContainer{
    border: 1px blue solid;
    position: relative;
    width: 45%;
    max-width: 70%;
    padding: 0 1vh 5vh 1vh;
    margin-bottom: 1vh;
  }


}


h3 {
  border: 1px red solid;
  font-size: x-large;
  min-height: 10vh;
}

.languageText {
  font-size: small;
}

.serviceContainer{
  border: 1px blue solid;
  position: relative;
  width: 45%;
  max-width: 70%;
  padding: 0 1vh 5vh 1vh;
  margin-bottom: 1vh;
}


/* add class for frontend and backend logos */

.serviceBox {
  border: 1px green solid;
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
}

.serviceBox:hover .contentOverlay {
  opacity: 1;
}

.contentImage {
  width: 100%;
  display: block;
}

