.Landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    padding: 4em 0;
  }

.LandingImg {
    background-size: cover;
    color: #e5ded9;
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 85%;
    max-width: 80em;
    padding-bottom: 1em;
}