<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="styles/styles.css?ver=1.3" />
  <link rel="stylesheet" href="styles/win.css?ver=1.3" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

  <meta property="og:title" content="How to Win Stakeholders and Influence Decisions!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://WinStakeholders.com/" />
  <title>How to Win Stakeholders and Influence Decisions!</title>
  <meta name="description" content="How to Win Stakeholders and Influence Decisions!" />
  <meta property="og:image" content="https://winstakeholders.com/images/og.png" />

  <meta property="og:site_name" content="Win Stakeholders" />

  <meta property="og:description" content="A 16-week program for new and experienced UX Leaders ready to influence meaningful improvements in their organization’s products and services.
    What if you could convince your toughest stakeholders that your work will drive innovation?" />

  <!-- <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet"> -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap"
    rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <section id="header">
    <div class="bg-lightGray">
      <div class="topbar container-cc">
        <div>
          <img src="/images/CC-UIE-black-logo.png" class="img-resp" alt="CenterCentre Logo"
            style="padding-right: 20px" />
        </div>
        <div class="">
          <a class="btn btn-custom btn-shadow" href="#pricing">Enroll Now</a>
        </div>
      </div>
    </div>
  </section>

  <section id="hero">
    <div class="hero-custom">
      <!-- py-3 container-cc -->
      <div class="hero-top-row">
        <div class=" hero-item-1"> <img alt="ADD ALT" src="images/hero_front.png" class="img-resp" /></div>
        <div class=" hero-item-2 text-white">
          <p>Next cohort starts: <b>October 21</b></p>
        </div>
      </div>
      <!-- <div class="hero-bottom-row">
        <div class=" hero-item-3"><img src="images/2023 - Win - Email - Join me March 13..png" class="img-resp">
        </div>
        <div class=" hero-item-4">
          <p><b>Our job as UX Leaders isn't to deliver design.</b></p>
          <p><b>Our job is to influence decisions.</b></p>
        </div> -->
      <!-- </div> -->
    </div>
  </section>

  <section id="introStatements">
    <section class="introStatementsA bg-lightGray">
      <div class="container-cc py-1">
        <div class="split align-center" style="margin: 0 auto">
          <div class="sec-desc basis70 column">
            <p>Because of the program...</p>
            <h2 id="let-jared-spool-be-your-guide">
              I got unlimited access to users for deep user research when, before, nobody would let them near any users
              or customers. </h2>
          </div>
          <div class="sec-il basis30 column">
            <img src="images/individual-7.png" class="img-resp max-15em image-right"
              alt="Searching in book (with magnifying glass) " />
          </div>
        </div>
      </div>
    </section>

    <section class="introStatementsB">
      <div class="container-cc py-1">
        <div class="split align-center column-reverse" style="margin: 0 auto">
          <div class="sec-il basis30 column">
            <img src="images/individual-6.png" class="img-resp max-15em" alt="Chess piece with road map" />
          </div>
          <div class="sec-desc basis70 column">
            <p>
              Halfway through the program...
            </p>
            <h2 id="let-jared-spool-be-your-guide">
              I started being called to run executive-level visioning workshops, with the execs excited to adopt a UX
              perspective on the organization’s strategy.
            </h2>
          </div>
        </div>
      </div>
    </section>

    <section class="introStatementsC bg-lightGray">
      <div class="container-cc py-1">
        <div class="split align-center" style="margin: 0 auto">
          <div class="sec-desc basis70 column">
            <p>
              After graduating the program...
            </p>
            <h2 id="let-jared-spool-be-your-guide ">
              I'm now regularly collaborating with Product Managers who never used to give me the time of day, let alone
              give UX any consideration.
            </h2>
          </div>
          <div class="sec-il basis30 column">
            <img src="images/individual-8.png" class="img-resp max-15em image-right"
              alt=" Man pushing knight chess piece. " />
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="py-3" id="articles-and-podcasts">
    <div class="container-cc split">
      <div class="column basis100">
        <div style="max-width: 700px; margin: 0 auto">
          <h3 class="h3 font-mogan txt-center mogine-mobile-30">
            What if you could convince your toughest stakeholders that your
            work will drive innovation?
          </h3>
        </div>
      </div>
    </div>

    <div class="container-cc">
      <div class="column">
        <p>
          We know you feel like you’ve tried <i>everything</i> to get buy-in from
          stakeholders. You’ve sought out every technique for persuading them
          to see the power of UX as you do.
        </p>
      </div>
    </div>
    <div class="container-cc flex">
      <div class="column basis10">
        <img src="images/articles.png" class="img-cc" />
      </div>

      <div class="bg-white column basis90">
        <h2 class="pl-1">You’ve skimmed hundreds of articles.</h2>
      </div>
    </div>

    <div class="container-cc flex">
      <div class="column basis10">
        <img src="images/podcasts.png" class="img-cc" />
      </div>

      <div class="bg-white column basis90">
        <h2 class="pl-1">You’ve listened to dozens of podcasts.</h2>
      </div>
    </div>

    <div class="container-cc flex">
      <div class="column basis10">
        <img src="images/presentations.png" class="img-cc" />
      </div>

      <div class="bg-white column basis90">
        <h2 class="pl-1">
          You’ve watched the leadership conference presentations.
        </h2>
      </div>
    </div>

    <div class="container-cc flex">
      <div class="column basis10">
        <img src="images/books.png" class="img-cc" />
      </div>

      <div class="bg-white column basis90">
        <h2 class="pl-1">You’ve read so many books.</h2>
      </div>
    </div>

    <div class="container-cc">
      <p>
        You’ve done your best to solve your complete puzzle by pulling all the
        pieces together. It’s hard. Especially when every suggestion still
        leaves you with an incomplete picture. And when you don’t have the
        right support to bring the picture into focus.
      </p>
      <p>
        This means that you're standing still no matter how much action
        you take. For an action-taker like you, that feeling of stalling out
        is so defeating. It’s exhausting.
      </p>
      <p>We get it. We’ve been there.</p>
      <p>
        We also know how to get through it. And we know how to get <i>you</i> through
        it.
      </p>
    </div>
  </section>

  <section id="with_all_your" class="py-3">
    <div class="container-cc split">
      <div class="column basis100 txt-center" style="border-top: 1px solid gray; border-bottom: 1px solid gray">
        <div style="max-width: 800px; margin: 0 auto">
          <h3 class="h3smaller font-mogan mogine-mobile-30" style="padding-bottom: 15px;">
            It's time to begin your real career...<br><br>
            Our job as UX Leaders isn't to deliver design.<br><br>
            Our job is to influence decisions.
          </h3>

        </div>
      </div>

      <div class="pt-2">
        <h2 id="overcome-objections-from-stakeholders-who-are-resistant-to-ux">
          Overcome objections from stakeholders who are resistant to UX.
        </h2>
        <p>
          Win over the hardest of the hard-to-convince stakeholders in your
          organization. Get teams to adopt a user-centered approach. Wake up
          excited about your UX work.
        </p>
        <p>
          To sell the toughest of stakeholders on the value of UX research and
          design, you have to persuade them that UX design is not a “make it
          pretty” afterthought but rather a core part of every product and
          service.
        </p>
        <h2 id="guide-your-stakeholders-to-make-intelligent-choices-that-lead-to-real-change">
          Guide your stakeholders to make intelligent choices that lead to
          real change.
        </h2>
        <p>
          You’ll make solid contributions to your organization’s product
          roadmap based on what users genuinely need and want.
        </p>
        <h2 id="stakeholders-see-your-best-work-as-essential-to-the-product-s-success">
          Stakeholders see your best work as essential to the product’s
          success.
        </h2>
        <p>
          You&#39;ll work with stakeholders who appreciate your great UX work
          and who understand the value you contribute to their efforts.
        </p>
        <h2 id="influence-strategic-business-decisions-with-your-ux-research-results">
          Influence strategic business decisions with your UX research results.
        </h2>
        <p>
          Your senior executives will champion even more research because they
          now see how the entire organization benefits from it.
        </p>
      </div>
    </div>
  </section>

  <!--black bar with next cohort date and enroll button-->
  <section class="text-wall">
    <div class="bg-black py-3">
      <div class="container-cc">
        <div>
          <div class="black-bar text-center text-white">
            <p>
              Next cohort starts: <b>October 21</b>
            </p>
            <div class="">
              <a class="cta btn btn-custom" style="max-width: none" href="#pricing">ENROLL NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end black bar with next cohort date and enroll button-->

  <section id="8-pillars">
    <div class="container-cc pb-3">
      <div class="pt-3">
        <h3 class="h3 font-mogan mogine-mobile-30">
          The 8 Pillars of Stakeholder Influence
        </h3>
      </div>
      <div class="pt-2">
        <p>
          Every UX leader reaches a point where their work needs to shift.
          Creating great designs and conducting meaningful UX research isn’t
          enough. They must overcome the pressures of the organization and,
          most importantly, they need the help of key stakeholders to make
          that happen.
        </p>
        <p>
          UX is a team sport. You need support and buy-in from your partners
          in product management and development. However, that support won’t
          come by itself.
        </p>
        <p>
          We’ve spent the last two decades studying how successful UX leaders
          get their peers to make UX a top priority. We’ve collected the
          techniques and perspectives that give these UX leaders an advantage
          in their organization.
        </p>
        <p>
          We’ve packaged these up into eight important themes. We call them…
        </p>
      </div>
    </div>
    <div class="container-cc">
      <h2 class="font-mogan mogine-mobile-30 h2bigger" style="padding-top: 0">Wins from 8 Pillars of Stakeholder
        Influence</h2>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-1.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Become the UX leader your org is seeking.</h2>
        <p>
          You’re no longer asking for permission. You are influencing positive change throughout your organization with
          the backing and support of your team.
        </p>
      </div>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-2.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Establish UX outcomes & visions.</h2>
        <p>
          You and your stakeholders are finally on the same page. You have conversations, not disagreements around which
          efforts will best improve your products and services.
        </p>
      </div>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-3.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Build strong connection skills.</h2>
        <p>
          You no longer feel like you’re selling the team on the importance of UX. You’re having meaningful
          conversations that influence product ideas and create natural buy-in for your initiatives.
        </p>
      </div>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-4.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Navigate product & development politics.</h2>
        <p>
          You no longer feel like you’re fighting your organization. You’ve uncovered common ground and you and other
          team leads have identified opportunities where you can work together.

        </p>
      </div>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-5.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Explore the dynamics of organizational power and influence.</h2>
        <p>
          Others in your organization see UX as a powerful positive force. They’re requesting the influence and
          expertise of UX on their projects and teams.

        </p>
      </div>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-6.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Identifying persuasive UX metrics.</h2>
        <p>You’re connected to your organization’s most essential objectives and you’ve demonstrated how UX achieves
          those key business objectives. </p>
      </div>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-7.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Growing a practice of servant leadership.</h2>
        <p>
          Others in the organization come to you and see you as their champion. Not only highlighting you as a leader
          but also championing your agendas and priorities.
        </p>
      </div>
    </div>

    <div class="container-cc flex pillar">
      <div class="column centercenter">
        <img src="images/num-8.png" class="img-cc pillar-img" />
      </div>

      <div class="column">
        <h2>Pinpoint user needs through strong UX research.</h2>
        <p>
          You’ve created a solid base of evidence that strengthens the importance of your initiatives. Others now come
          to you and see research as a way to strengthen their initiatives too.

        </p>
      </div>
    </div>

    <div class="container-cc pb-4">
      <p>
        As you master the skills, tools, and mindsets of each pillar, you’ll
        immediately feel as if you’ve been released from the restraints that
        have been holding you back. You’ll see results right away because your
        ideas and suggestions won’t get the pushback they have in the past.
      </p>
      <p>
        Instead, you’ll become empowered to push for even bigger and better
        things. Most importantly, your contributions will be appreciated and
        encouraged. You’ll finally have the support you need.
      </p>
    </div>
  </section>

  <!-- Testimonials #1-->
  <section class="bg-pink">
    <div class="container-cc split py-2 mobile-align-start">
      <div class="text-white column basis50 testimonial divider">
        <div class="pr-3">
          <img src="/images/testimonial-heart.png" class="img-resp image-left" alt="Describe a picture"
            style="width: 100px" />
          <div class="testimonial-title">
            <h4>
              &nbsp; J.D., A Senior Digital UX Leader in a B2C Software:
            </h4>
          </div>
          <p>
            <em>I picked up invaluable tips for reframing my mindset when
              collaborating with my partners. I discovered whom to influence
              and measure my impact and outcomes.</em>
          </p>
        </div>
      </div>
      <div class="text-white column basis50 testimonial left-padding">
        <div class="pl-3">
          <img src="/images/testimonial-star.png" class="img-resp image-left" alt="Describe a picture"
            style="width: 100px" />
          <div class="testimonial-title">
            <h4>
              &nbsp; S.P., UX Designer and Researcher in Insurance Solutions:
            </h4>
          </div>
          <p>
            <em>This program gave me the tools and advice I need to be a better
              listener, ask better questions in meetings, and get better
              results in conversations with my stakeholders.
            </em>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Amy Velazquez updates from here down 2024-06-10-->
  <section id="our-newest-proggram" class="py-3 bg-lightGray">
    <section id="title">
      <div class="container-cc split">
        <div class="column basis100 txt-center">
          <div style="max-width: 700px; margin: 0 auto">
            <h3 class="h3 font-mogan mogine-mobile-30">
              Our How to Win Stakeholders & Influence Decisions Program
            </h3>
          </div>
        </div>
      </div>
    </section>
    <div class="container-cc column">
      <p>
        We want you to get the support you need to attain a new level in your
        UX career.
      </p>
      <p>
        That’s why we invite you to enroll in our brand new
        <strong>How to Win Stakeholders &amp; Influence Decisions program</strong>.
      </p>
      <p>
        This 16-week program has everything you need to master each of the
        <strong>8 Pillars of Stakeholder Influence</strong>. Attain a new set of tools, skills, and mindset from program
        creators Leslie Jensen-Inman and Jared Spool to propel your
        career in a whole new (and much more fun) direction.
      </p>
      <br><br>
      <h2 class="font-mogan mogine-mobile-30 h2bigger" style="padding-top: 0" id="time-commmitment">
        Time Commitment and Program Schedule
      </h2>
      <h3>Commit 2-3 hours per week to see real change.</h3>
      <p>
        <strong>We hold a new program start date every month.</strong> Once you start the program, you’ll gain access to
        our private online learning space hosted in our Leaders of Awesomness community.

      </p>
      <p>
        <strong>Then every two weeks, for the 16-weeks of the program,</strong> Leslie and Jared will introduce you to a
        brand new pillar of stakeholder influence. They’ll share the techniques, tips, and methods that will expand your
        current skill set and put you on a path to success.
      </p>
      <p>
        <strong>You’ll join weekly live lab sessions every Wednesday for direct mentorship and guidance.</strong> For
        the first four weeks of the program, you can join a live lab session on Wednesdays at 11am ET (15.00 GMT) or at
        7pm ET (23.00 GMT). For the remaining twelve weeks, you can join the live lab sessions on Wednesday 1pm ET
        (17.00 GMT) or
        7pm ET (23.00 GMT).
      </p>
      <p>
        <strong>Each live lab session is recorded, so you can catch up by watching the recording if you miss
          it.</strong> We usually have the recordings posted within 24 hours. If you have questions, you can put them in
        the discussion area in our community space.
      </p>

      <p>
        <strong>Each week, there’s also a video about the topic to watch at your convenience and some homework to
          prepare for the labs.</strong> The videos are usually about 45 minutes long, and the homework can take 20 - 40
        minutes.
      </p>

      <p>
        <strong>Overall you’ll expect to spend about 2 to 3 hours a week on this program.</strong> That’s a 1 hour live
        lab session every week, a 1 hour video every other week, and ½ hour of intentional practice/homework every week.

      </p>



      <h2 id="your-investment-in-lifetime-skills-will-forever-change-the-trajectory-of-your-ux-career">
        Your investment in lifetime skills will forever change the trajectory
        of your UX career.
      </h2>
      <p>
        We’re quite serious when we say this. What you learn in this program
        will be skills, tools, and mindsets that you’ll use every day for the
        lifetime of your UX career. We’ve seen UX professionals take these
        techniques and successfully make a case for…
      </p>
      <ul>
        <li>
          starting an important research project that’s been back-burnered for
          the last 18 months.
        </li>
        <li>
          growing their UX team to better keep pace with product and
          development.
        </li>
        <li>
          expanding their organization’s research capability to influence
          strategic decisions.
        </li>
        <li>
          shifting their organization to stop <em>saying</em> they’re
          customer-centered, and instead
          <em>truly become</em> customer-centered.
        </li>
      </ul>
    </div>
  </section>

  <!--black bar with next cohort date and enroll button-->
  <section class="text-wall">
    <div class="bg-black py-3">
      <div class="container-cc">
        <div>
          <div class="black-bar text-center text-white">
            <p>
              Next cohort starts: <b>October 21</b>
            </p>
            <div class="">
              <a class="cta btn btn-custom" style="max-width: none" href="#pricing">ENROLL NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end black bar with next cohort date and enroll button-->



  <!-- Testimonial #2 -->
  <section class="bg-pink">
    <div class="container-cc split py-2 mobile-align-start">
      <div class="text-white column basis50 testimonial divider">
        <div class="pr-3">
          <img src="/images/testimonial-heart.png" class="img-resp image-left" alt="Describe a picture"
            style="width: 100px" />
          <div class="testimonial-title">
            <h4>
              &nbsp; C.M., Senior UX Designer in Digital Media Software:
            </h4>
          </div>
          <p>
            <em>This program transformed my discussions with my team. I now
              stop negative assumptions and see the full picture of what my
              team is working on. Allowing for better connections and
              support.</em>
          </p>
        </div>
      </div>
      <div class="text-white column basis50 testimonial left-padding">
        <div class="pl-3">
          <img src="/images/testimonial-thumb-up.png" class="img-resp image-left" alt="Describe a picture"
            style="width: 100px" />
          <div class="testimonial-title">
            <h4>&nbsp; J.C., UX Design Manager at a B2C Home service:</h4>
          </div>
          <p>
            <em>This program taught me that success is a result of the positive
              change you make in the world. The focus on servant leadership
              and the actionable pillars helped me to practice climbing a
              ladder to achieve real-life wins.
            </em>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="dr_Leslie_Jensen-Inman" class="bg-lightGray py-3">
    <div class="container-cc column">
      <!--  <h2 id="dr-leslie-jensen-inman-and-jared-spool-will-guide-you">
        Jared Spool and Dr. Leslie Jensen-Inman guide you.
      </h2>
    -->
      <h3 class="h3 font-mogan mogine-mobile-30">
        Jared Spool & Dr. Leslie Jensen-Inman guide you.
      </h3>
    </div>
    <div class="container-cc split column-reverse">
      <div class="column basis60">
        <p>
          Everything you learn in this 16-week program comes directly from Leslie and Jared's experience. They’ve been
          working for decades across industries, discovering the best practices of successful UX leaders.
        </p>
        <p>
          Leslie and Jared joined forces in 2012. Since then, they have worked with top UX leaders at organizations like
          IBM, NASA, GE, Fidelity Investments, GM, Exxon Mobil, Dolby, and Adobe.
        </p>
        <p>
          Leslie’s deep knowledge of leadership and human relationships is mind-bogglingly astute. You’ll ask yourself,
          “how does she know my stakeholders are exactly like that?”
        </p>
      </div>
      <div class="column basis40">
        <img src="images/meet-leslie.png" class="img-cc" alt="Dr. Leslie Jensen-Inman and Jared Spool" />
      </div>
    </div>

    <div class="container-cc split">
      <div class="column basis40">
        <img src="images/meet-jared.png" class="img-cc" alt="Dr. Leslie Jensen-Inman and Jared Spool" />
      </div>
      <div class="column basis60">
        <p>
          You’ll love Jared’s always-relevant stories and his ability to
          demonstrate every point with a simple, concrete example. He’s done
          this work for a long time and will share every corner of his
          knowledge and experience with you.
        </p>
        <p>
          Most importantly, you’ll love how much more confident you’ll feel
          each week as you take in and start to use what you learn. Leslie and
          Jared have poured their experience-informed wisdom into this
          program. They’ve listened to what you’ve been struggling with. So
          don’t pass up this opportunity to learn everything you can.
        </p>
      </div>
    </div>
  </section>

  <!--black bar with next cohort date and enroll button-->
  <section class="text-wall">
    <div class="bg-black py-3">
      <div class="container-cc">
        <div>
          <div class="black-bar text-center text-white">
            <p>
              Next cohort starts: <b>October 21</b>
            </p>
            <div class="">
              <a class="cta btn btn-custom" style="max-width: none" href="#pricing">ENROLL NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end black bar with next cohort date and enroll button-->


  <section id="do-you-have-your-sights-on-changing-ux-in-your-organization-" class="pt-3">
    <div class="container-cc column">
      <h3 class="h3 font-mogan mogine-mobile-30">
        Do you have your sights on changing UX in your organization?</h3>
      <h2> The change begins with you.
      </h2>


      <p>Think about your future.</p>
      <ul>
        <li>
          A future where your work is improving the lives of your customers
          and users.
        </li>
        <li>A future where you don’t have to battle just to do your job.</li>
        <li>A future where you’re working to your full potential.</li>
      </ul>
      <p>Does that get you excited?</p>
      <p>
        Then you’re ready. You’re ready to get the right skillset, the right
        toolset, and the right mindset to positively impact this world. You’ll
        have the power to make a difference. You’ll love the work you do every
        day. You’ll be energized and excited about the problems you’re
        solving.
      </p>
      <p>
        And we'll be there, right beside you. They will
        support you all the way. With the knowledge and expertise they’ve
        acquired over decades, they know what works for the most successful UX
        leaders. With their help, you’ll join that select group of outstanding
        professionals.
      </p>
      <p>
        This can be your reality. And it starts today with one simple step.
        Enroll in the program.
      </p>
      <p>Enrolling solo? Use the Individual button.</p>
      <p>
        Do you have two or more people from your organization enrolling in the
        program? Use the Team button.
      </p>
      <p>
        That’s it. That’s all you have to do to get 16 weeks of support. That’s all you have to do to get on the path to
        changing the trajectory of your UX career.
      </p>
      <h2 id="we-guarantee-your-satisfaction-100-">
        We guarantee your satisfaction 100%
      </h2>
      <p>As in, your money back. Seriously.</p>
      <p>
        These techniques work. We’ve seen them work with UX leaders all around
        the world.
      </p>
      <p>
        We want you to succeed. We want you to feel 100% confident that you’ll
        know how to align your UX capabilities with key business objectives.
        Even your toughest stakeholders — the ones constantly blocking UX
        progress — will find it difficult to argue with solid ideas that
        support their own priorities.
      </p>
      <p>
        That’s why we offer this guarantee. There’s no risk here. Sign up, and
        you’ll see why we’re so confident about the 8 Pillars.
      </p>

      <h3 class="h3 font-mogan mogine-mobile-30">Your next step to winning stakeholders & influencing decisions…</h3>
    </div>
  </section>


  <!-- Purchase Plans -->
  <section class=" bg-setCustomBg bg-white column basis50 padding-top: 30px;" id="pricing">
    <div class="container-cc">

      <div class="split center">
        <div class="bg-white column basis50">
          <img class="img-resp" src="/images/Win-Solo-Signup2x.png" />
          <div class="bg-lightGray px-1 py-1" style="padding: 25px;">
            <h2>Enroll as a Solo UX Leader</h2>
            <p>If you’re a UX leader or someone ready to jump into UX leadership, this program is for you. You’ll get
              the full
              mentorship and coaching you need to grow your responsibility and influence in your organization.</p>

            <p>You can pay <b>$899/month</b> for 4 months.<br><br>
              Or you can <b>save $899</b> with <b>a one-time payment of $2,697</b>.</p>

            <div class="txt-center pt-1 pb-1 mobile-padding">
              <a class="btn btn-custom btn-fill btn-shadow"
                href="https://reg.centercentre.com/winstakeholders-individual/">Enroll as an Individual</a>
            </div>
          </div>

        </div>
        <br><br>
        <div class="bg-white column basis50">
          <img class="img-resp" src="/images/Win-Team-Signup2x.png" />
          <div class="bg-lightGray px-1 py-1" style="padding: 25px;">
            <h2>Enroll as a Team of 2 or More (save per person)</h2>

            <p>When members of your UX team learn these skills and techniques together, the entire team becomes a more
              effective force to be reckoned with.</p>
            <p>We offer a price for anyone registering for more than just themselves to the program.</p>
            <p>Two team members are still a team, so any team of 2 or more people can register at the discounted team
              member price.</p>
            <p>Each of you can enroll for <b>$799/month</b> for 4 months.</p>
            <p>Or you can <b>save $799</b> when you pay <b>a one-time payment of $2,397</b>.</p>


            <div class="txt-center pt-1 pb-1 mobile-padding">
              <a class="btn btn-customPink btn-fill btn-shadow"
                href="https://reg.centercentre.com/winstakeholders-team">Enroll as a Team Member</a>
            </div>




          </div>

        </div>
      </div>
    </div>
  </section>
  <!--End Pricing Section-->
  <!--End copied from research-->









  <!-- Recorded Testimonial -->
  <section id="cta-above-the-footer" class="text-wall">
    <div class="bg-black py-3">
      <div class="container-cc">
        <div>
          <div class="text-center text-white" style="max-width: 50em; margin: 0 auto">
            <p class="h3 font-mogan mogine-mobile-30">
              On the fence?<br />
              Hear from a program graduate:
            </p>
            <!--Embed code for testimonial Vimeo recording-->

            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                src="https://player.vimeo.com/video/814643928?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="2023-03-23 - WIN Testimonial - Jacquelyn Candelas - Draft 5"></iframe></div>
            <script src="https://player.vimeo.com/api/player.js"></script>

            <!--End Embed code for testimonial Vimeo recording-->

            <div class="">

              <p class="note"><br />Thank you <strong>Jacquelyn Candelas</strong> for being a part of our program!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!--Old Footer-->
  <!-- <section>
    <div class="dark-footer">
      <footer class="contr">
        <div class="ft-mk emulated-flex-gap footer-padding">
          <div class="b2">
            <img src="https://www.uie.com/wp-assets/img/landing/CC-UIE-logo.png" class="img-resp ft-logo black-logo"
              alt="Center Centre UIE Logo" style="margin-top: 0px" />

            <img src="https://asset.uie.com/img/logo/centercentre_uie_medium_white.png"
              class="img-resp ft-logo white-logo" alt="Center Centre UIE Logo" style="margin-top: 0px" />
          </div>
          <div class="b2">
            <p>
              791 Turnpike Street, Unit 4<br />
              North Andover, MA 01845<br />+1 978-327-5561
            </p>
          </div>
          <div class="c1">
            <p>
              Center Centre is proud to provide you the expertise you need to
              deliver better products and services.
            </p>
          </div>
        </div>
        <hr class="line-ft" />

        <div class="footer-notice">
          <span>
            Copyright
            <script>
              document.write(/\d{4}/.exec(Date())[0]);
            </script>
            Center Centre Inc. All rights reserved.
          </span>
          <span>
            Questions or comments?
            <a href="https://www.centercentre.com/contact">Contact us. </a>
          </span>
          <span><a href="https://www.centercentre.com/privacy-notice/">Privacy Notice</a></span>
        </div>
      </footer>
    </div>
  </section> -->
  <!--End Old Footer-->

  <!-- !NEW FOOTER -->
  <section class="dark-footer">
    <div class="footer-row links container-cc-footer">
      <footer class="footer-column">
        <div class="footer-row ft-mk emulated-flex-gap first-row">
          <div>
            <a><img src="https://asset.uie.com/img/logo/center_centre_white.png" class="ft-logo white-logo"
                alt="Center Centre UIE Logo"></a>
          </div>
          <div class="footer-row links">
            <p class="dark-footer">
              791 Turnpike Street, Unit 4<br>
              North Andover, MA 01845<br> <a href="tel:19783275561" class="phone-link">+1 978-327-5561</a>
            </p>
          </div>
          <div class="footer-row footer-row links">
            <p class="dark-footer">Center Centre is proud to provide the expertise you need to deliver
              better products and
              services.
            </p>
          </div>
        </div>

        <div class="footer-row links">
          <div class="footer-column">
            <p class="dark-footer">
              <a href="https://centercentre.com/programs/">All Center Centre Programs</a>
            </p>
            <p class="dark-footer">
              <a href="https://leaders.centercentre.com/">Leaders of Awesomeness</a>
            </p>
            <p class="dark-footer">
              <a href="https://essentials.centercentre.com/">UX Strategy Essentials</a>
            </p>
            <p class="dark-footer">
              <a href="https://agile.centercentre.com/">Taking Control of Agile UX</a>
            </p>
          </div>
          <div class="footer-column">
            <p class="dark-footer">
              <a href="https://winstakeholders.com/">Win Stakeholders & Influence Decisions</a>
            </p>
            <p class="dark-footer">
              <a href="https://articles.centercentre.com/">UX Strategy Articles</a>
            </p>
            <p class="dark-footer">
              <a href="https://metrics.centercentre.com/">UX Metrics to Drive Your Organization</a>
            </p>
            <p class="dark-footer">
              <a href="https://essentials.centercentre.com/your-next-ux-job">Essentials of Finding Your
                Next UX Job</a>
            </p>
          </div>
          <div class="footer-column ">
            <p class="dark-footer">
              <a href="https://centercentre.com/jared-live/">Private Talks, Workshops, & Coaching</a>
            </p>
            <p class="dark-footer">
              <a href="https://aycl.uie.com/">All You Can Learn</a>
            </p>
            <p class="dark-footer">
              <a href="https://research.centercentre.com/">Strategic Approaches to UX Research</a>
            </p>
            <p class="dark-footer">
              <a href="https://visions.centercentre.com/">Craft + Lead A Strategic UX Vision</a>
            </p>
          </div>
        </div>
        <div class="footer-row ">
          <div class="footer-column">
            <p style="margin-bottom: 0px">Copyright
              <script>
                document.write(/\d{4}/.exec(Date())[0]);
              </script>
              Center Centre Inc. <br>All rights reserved.
            </p>
          </div>
          <div class="footer-column">
            <p>Questions or comments? <a href="https://centercentre.com/contact">Contact Us</a>.
            </p>
          </div>
          <div class="footer-column">
            <p><a href="https://centercentre.com/privacy-notice/">Privacy Notice</a></p>
          </div>
        </div>
      </footer>
    </div>
  </section>
</body>

</html>