/* * {
  font-family: 'Source Sans Pro', sans-serif;
} */


/*------------------------------------*\
    $TOPBAR
\*------------------------------------*/

#Header .topbar {
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
}

#Header .topbar img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

#Header .btn {
  max-width: 11.5em;
  font-size: 0.85em;
}

@media screen and (max-width: 27em) {
  #Header .btn {
    font-size: 0.75rem !important;
  }

  #Header .topbar img {
    max-width: 200px;
    width: 100%;
    height: 100%;
    max-height: 40px;
  }
}

.container-cc {
  width: 85%;
  max-width: 66em;
  margin: 0 auto;
}

#Header {
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: rgb(231, 228, 228);
  top: 0;
}


#Header .btn {
  max-width: 11.5em;
  font-size: 0.85em;
}

.btn-custom {
  color: var(--white);
  background-color: var(--custom);
}


/*------------------------------------*\
    $BUTTON
\*------------------------------------*/

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--buttonTextColor, #fff);
  max-width: 10em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  padding: 0.8em 2em;
  background: var(--accent, black);
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear,
    -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 0.9;
}

.btn-fill {
  max-width: 100%;
}

.btn-custom {
  color: var(--white);
  background-color: var(--custom);
}

.btn-custom:hover {
  color: var(--white);
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.btn-customPink {
  color: var(--white);
  background-color: var(--pink);
}

.btn-customPink:hover {
  color: var(--white);
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}


.btn-inverse {
  background-color: var(--white);
  color: var(--custom);
}

.btn-inverse:hover {
  box-shadow: var(--white);
  color: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.btn-purple {
  color: var(--white);
  background-color: var(--brightPurple);
}

.btn-purple:hover {
  color: var(--white);
  background-color: var(--darkPurple);
}

.btn-yellow {
  color: var(--dark);
  background-color: var(--brightYellow);
}

.btn-yellow:hover {
  color: var(--dark);
  background-color: var(--darkYellow);
}

.btn-blue {
  color: var(--white);
  background-color: var(--brightBlue);
}

.btn-blue:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}

.btn-orange {
  color: var(--white);
  background-color: var(--brightOrange);
}

.btn-orange:hover {
  color: var(--white);
  background-color: var(--darkOrange);
}

.btn-green {
  color: var(--white);
  background-color: var(--brightGreen);
}

.btn-green:hover {
  color: var(--white);
  background-color: var(--darkGreen);
}

.btn-pink {
  color: var(--white);
  background-color: var(--Pink);
}

.btn-pink:hover {
  color: var(--white);
  background-color: var(--darkPink);
}

.btn-shadow {
  box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -6px 6px 0px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.btn-shadow:hover {
  box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
    -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
    -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  top: 2px;
  left: -3px;
}

.btn-agile {
  color: var(--white);
  background-color: var(--black);
}

.btn-agile:hover {
  color: var(--black) !important;
  background-color: var(--brightYellow);
}

.btn-goals-cta {
  color: var(--darkGreen);
  background-color: rgb(239, 241, 239);
}

.btn-goals-cta:hover {
  color: var(--white);
  background-color: var(--darkGreen);
}

.btn-metrics-cta {
  color: var(--darkPurple);
  background-color: rgb(241, 239, 239);
  border: 1px transparent solid;
}

.btn-metrics-cta:hover {
  color: var(--white);
  background-color: var(--brightPurple) !important;
  border: 1px solid white;
  box-shadow: 2px 2px 10px 1px #380b1d66;
}

.btn-hiring-cta {
  color: var(--darkOrange);
  background-color: rgb(241, 239, 239);
  border: 1px transparent solid;
}

.btn-hiring-cta:hover {
  color: var(--white);
  background-color: var(--brightOrange) !important;
  border: 1px solid white;
  box-shadow: 2px 2px 10px 1px #380b1d66;
}

.btn-goals {
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: var(--black) !important;
  background-color: white;
  transition: background-color 0.24s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -6px 6px 0px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.btn-goals:hover {
  background-color: rgb(242, 245, 234);
  box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
    -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
    -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  top: 2px;
  left: -3px;
}