.App {
  /* text-align: center; */
}

@font-face {
  font-family: Mogan;
  src: url(./font/Mogan-Regular.otf);
}

.font-mogan {
  font-family: "Mogan";
}

* {
  font-family: "Montserrat", sans-serif;
}

p, li {
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 25px;
  line-height: 1.5;
}

*/ ul, ol {
  /* display: block; */
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 50px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

h1 {
  font-size: 2.5em;
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.text-white {
  color: white
}

.text-center {
  text-align: center;
}

/* BACKGROUND COLORS */
.bg-white {
  background-color: #ffffff;
}

.bg-lightGray {
 background-color: #f2f2f2;
}


.img-placeholder {
  width: 100%;
}


/* COLUMN SIZING */
.column {
  padding: 1em;
}

.basis10 {
  width: 10%;
}

.basis30 {
  width: 30%;
}

.basis40 {
  width: 40%;
}

.basis50 {
  width: 50%;
}

.basis60 {
  width: 60%;
}

.basis70 {
  width: 70%;
}

.basis90 {
  width: 90%;
}

/* CONTAINER SIZING */
.container-cc {
  width: 85%;
  max-width: 66em;
  margin: 0 auto;
}





.img-icon {
  max-width: 100%;
  display: block;
}

.imgTestimonial {
  width: 100px;
}

.quote {
  max-width: 45px;
  margin-right: 15px;
}


/* FLEXBOX STUFF */
.flex {
  display: flex;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.centercenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* DIVIDER */
.border-sandwich {
  border-top: 1px solid gray; 
  border-bottom: 1px solid gray;
}




/* LAYOUT */
.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-items: center;
  justify-content: center;
  /*justify-content: space-between;*/
}



/* TESTIMONIALS */
.divider {
  border-right: 2px solid white;
}

.testimonial-title h4 {
  font-size: 1.4em;
  letter-spacing: 1.5px;
  font-weight: normal;
  padding-bottom: 20px;
}


@media only screen and (max-width: 865px) {
  .divider {
    border-right: 0px solid white;
    border-bottom: 2px solid white;
  }

  .testimonial .pr-3,
  .testimonial .pl-3 {
    padding-right: 0em !important;
    padding-left: 0em !important;
  }
}


/* START OF BUTTON */
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--buttonTextColor, #fff);
  max-width: 10em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  padding: 0.8em 2em;
  background: var(--accent, black);
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear,
    -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  opacity: 0.9;
}

.btn-fill {
  max-width: 100%;
}

.btn-custom {
  color: var(--white);
  background-color: var(--custom);
}

.btn-custom:hover {
  color: var(--white);
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.btn-inverse {
  background-color: var(--white);
  color: var(--custom);
}

.btn-inverse:hover {
  box-shadow: var(--white);
  color: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.btn-purple {
  color: var(--white);
  background-color: var(--brightPurple);
}

.btn-purple:hover {
  color: var(--white);
  background-color: var(--darkPurple);
}

.btn-yellow {
  color: var(--dark);
  background-color: var(--brightYellow);
}

.btn-yellow:hover {
  color: var(--dark);
  background-color: var(--darkYellow);
}

.btn-blue {
  color: var(--white);
  background-color: var(--brightBlue);
}

.btn-blue:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}

.btn-orange {
  color: var(--white);
  background-color: var(--brightOrange);
}

.btn-orange:hover {
  color: var(--white);
  background-color: var(--darkOrange);
}

.btn-green {
  color: var(--white);
  background-color: var(--brightGreen);
}

.btn-green:hover {
  color: var(--white);
  background-color: var(--darkGreen);
}

.btn-pink {
  color: var(--white);
  background-color: var(--Pink);
}

.btn-pink:hover {
  color: var(--white);
  background-color: var(--darkPink);
}

.btn-shadow {
  box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -6px 6px 0px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.btn-shadow:hover {
  box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
    -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
    -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  top: 2px;
  left: -3px;
}

.btn-agile {
  color: var(--white);
  background-color: var(--black);
}

.btn-agile:hover {
  color: var(--black) !important;
  background-color: var(--brightYellow);
}

.btn-goals-cta {
  color: var(--darkGreen);
  background-color: rgb(239, 241, 239);
}

.btn-goals-cta:hover {
  color: var(--white);
  background-color: var(--darkGreen);
}

.btn-metrics-cta {
  color: var(--darkPurple);
  background-color: rgb(241, 239, 239);
  border: 1px transparent solid;
}

.btn-metrics-cta:hover {
  color: var(--white);
  background-color: var(--brightPurple) !important;
  border: 1px solid white;
  box-shadow: 2px 2px 10px 1px #380b1d66;
}

.btn-hiring-cta {
  color: var(--darkOrange);
  background-color: rgb(241, 239, 239);
  border: 1px transparent solid;
}

.btn-hiring-cta:hover {
  color: var(--white);
  background-color: var(--brightOrange) !important;
  border: 1px solid white;
  box-shadow: 2px 2px 10px 1px #380b1d66;
}

.btn-goals {
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: var(--black) !important;
  background-color: white;
  transition: background-color 0.24s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -6px 6px 0px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.btn-goals:hover {
  background-color: rgb(242, 245, 234);
  box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
    -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
    -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  top: 2px;
  left: -3px;
}


/* END OF BUTTON */


/* START OF COLOR */
:root {
  --custom: rgb(122, 140, 31);

  --bgMain: var(--darkGreen);
  --accent: var(--darkGreen);
  --accentBG: var(--darkGreen);

  --darkBlue: #006f74;
  --brightBlue: #00a3b4;
  --darkGreen: #575e22;
  --brightGreen: #8c9b28;
  --darkRed: #951a1d;
  --brightRed: #d52327;
  --darkPurple: #662547;
  --brightPurple: #9b0e5b;
  --orange: #9b621c;
  --darkOrange: #c14e27;
  --brightOrange: #ec621d;
  --darkYellow: #d8a739;
  --brightYellow: #ffcd5e;
  --pink: #dd4e4e;
  --brightPink: #e3635f;
  --darkPink: #c04343;

  --white: #fff;
  --lightGray: #f2f2f2;
  --darkGray: #a3a3a3;
  --black: #2c2c2c;
  --black: #000000;
}
/* END OF COLOR */

/* START OF BG COLOR */

.bg-darkRed {
  background-color: var(--darkRed);
}

.bg-brightRed {
  background-color: var(--brightRed);
}

.bg-darkBlue {
  background-color: var(--darkBlue);
}

.bg-brightBlue {
  background-color: var(--brightBlue);
}

.bg-darkGreen {
  background-color: var(--darkGreen);
}

.bg-brightGreen {
  background-color: var(--brightGreen);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-custom {
  background-color: var(--custom);
}

.bg-brightOrange {
  background-color: var(--brightOrange);
}

.bg-darkOrange {
  background-color: var(--darkOrange);
}

.bg-darkYellow {
  background-color: var(--darkYellow);
}

.bg-brightYellow {
  background-color: var(--brightYellow);
}

.bg-darkPurple {
  background-color: var(--darkPurple);
}

.bg-brightPurple {
  background-color: var(--brightPurple);
}

.bg-main {
  background-color: var(--main);
}

.bg-white {
  background-color: var(--white);
}

.bg-lightGray {
  background-color: var(--lightGray);
}

.bg-darkGray {
  background-color: var(--darkGray);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-pink {
  background-color: var(--pink);
}

/* END OF BG COLOR */




/* PADDING PLACEMENT */
.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.px-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.px-3 {
  padding-left: 3em;
  padding-right: 3em;
}

.px-4 {
  padding-left: 4em;
  padding-right: 4em;
}

.px-5 {
  padding-left: 5em;
  padding-right: 5em;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.py-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.py-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}

.py-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-3 {
  padding-top: 3em;
}

.pt-4 {
  padding-top: 4em;
}

.pt-5 {
  padding-top: 5em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-3 {
  padding-bottom: 3em;
}

.pb-4 {
  padding-bottom: 4em;
}

.pb-5 {
  padding-bottom: 5em;
}

.pl-1 {
  padding-left: 1em;
}

.pl-2 {
  padding-left: 2em;
}

.pl-3 {
  padding-left: 3em;
}

.pl-4 {
  padding-left: 4em;
}

.pl-5 {
  padding-left: 5em;
}

.pr-1 {
  padding-right: 1em;
}

.pr-2 {
  padding-right: 2em;
}

.pr-3 {
  padding-right: 3em;
}

.pr-4 {
  padding-right: 4em;
}

.pr-5 {
  padding-right: 5em;
}
